src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">


	<flow name="finalproject-main">
        <http:listener config-ref="finalproject-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase='Please try later again'>
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="finalproject-config" />
    </flow>
	<flow name="finalproject-console">
        <http:listener config-ref="finalproject-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="finalproject-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\customers\(ID):application\json:finalproject-config">
		<flow-ref doc:name="Flow Reference" doc:id="f6c20ba8-7d3e-4329-9eb1-4d118c7eff88" name="UpdateCustomerByID" />
    </flow>
    <flow name="delete:\customers\(ID):finalproject-config">
		<flow-ref doc:name="Flow Reference" doc:id="40a8505f-9004-4f71-ab96-eb53c4b3379e" name="DeleteCustomerByID" />
    </flow>
    <flow name="get:\customers:finalproject-config">
		<flow-ref doc:name="Flow Reference" doc:id="dac0a284-862f-4e0c-ac43-de2665ea4b5a" name="GetAllCustomers" />
    </flow>
    <flow name="get:\customers\(ID):finalproject-config">
		<flow-ref doc:name="Flow Reference" doc:id="bd60e56b-ef5b-4336-b50b-30a275bb3b5d" name="GetCustomerByID" />
    </flow>
    <flow name="post:\customers:application\json:finalproject-config">
		<flow-ref doc:name="Flow Reference" doc:id="3707fbb5-b37e-4747-bb7d-1b1113a40e2e" name="CreateCustomer" />
    </flow>
</mule>
